h1{
    text-align: center;
    margin: 0 auto;
    max-width: none;
    border: solid black 5px;
    min-width: 70px;

}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    background-image:url('https://img.freepik.com/premium-vector/cute-frogs-hand-drawn-vector-seamless-pattern-colored-cartoon-ornament-with-animals-design-print-fabric-textile-background-wallpaper-wrapping-decoration_534604-365.jpg?w=2000');

}

#mainButton{
    display: flex;
    align-items: center;
    max-width: 100px;
    max-height: 90px;
    background-color:cyan;
    margin: 0 auto;
}

img{
    display: flex;
    width: 30%;
    height: 70%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

div{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

button{
    padding: 10px;
    background-color: cornflowerblue;
}
#multiButton{
    margin-right: 400px;
}
#resetButton{
    position: absolute;
    right: 0;
}
#clickerButton{
    margin-left: 100px;
}


