<section>
<div>
  <h1>User Information Form</h1>
  <p> This form will set your user name and menu color provided you enter a valid color.<br>
    You can come back to this form at any time using the menu naviagation to change name or menu color</p>
  <form (submit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name" name="Name" id="title" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Favorite color</mat-label>
      <input matInput [(ngModel)]="color" name="Color" id="title" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
</section>